/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;0,800;1,800&family=Roboto+Condensed:ital,wght@0,700;1,400;1,700&family=Teko:wght@600&family=The+Nautigal:wght@700&display=swap');

/* utilitys */

body {
    font-family: 'Poppins', sans-serif;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #161616;
    width: 1321px;
    height: 646px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 30px;
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: -10px;
}







/*--------------------------- 
     top section 
-----------------------------*/
.top-section {
    /* display: flex; */
}

.header-info {
    /* width: 531px;
    height: 437px; */
    margin-left: 100px;
    margin-bottom: 100px;

}

.header-title {
    font-weight: 700;
    font-size: 70px;
    /* width: 505px;
    height: 242px; */
    color: white;
}

.header-pera {
    width: 506px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding-top: 30px;
    margin-top: -70px;
}

.header-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

.watch-button {
    width: 187px;
    height: 46px;
    background-color: #DD0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 20px;
    text-align: center;
}


.header-pic img {
    width: 350px;
    height: 300px;
    /* padding-left: 50px; */

}


/* ------------------
    middle section 
---------------------*/

.site-button {
    /* width: 160px;
    height: 48px; */
    border-radius: 10px;
    padding: 30px 10px;
    background-color: #161616;
    margin-bottom: 50px;



}

.button1 {
    width: 252px;
    height: 54px;
    display: block;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}

.button2 {
    width: 252px;
    height: 54px;
    display: block;
    font-weight: 500;
    font-size: 20px;
    color: white;
    background-color: #DD0000;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
}

.button-text {
    padding-top: 10px;
}

/*-------------- 
middle 2nd part 
----------------*/

.site-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    padding-left: 30px;
    width: 984px;
    height: 750px;
}

.site-match {
    width: 312px;
    height: 242px;
}

.site-blog {
    display: flex;
}

.vs-text {
    padding-left: 10px;
    padding-right: 10px;
}

.match {
    display: flex;
}



.match-img img {
    width: 93.04px;
    height: 56.18px;
}

.blog-text {
    width: 100px;
    height: 26px;
    color: #161616;
    border: 1px solid #161616;
    text-align: center;
}

.match-title {
    width: 272px;
    height: 53px;
    font-weight: 600;
    font-size: 18px;
}

.match-time {}

.blog-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

}



/* footer */
.footer-heading {
    text-align: center;
    background-color: #161616;
    padding: 40px;

}

hr {
    width: 1400px;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-bottom: 60px;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.fa-brands {
    font-size: 40px;
    color: white;
}



/* For mobile phones: */
@media only screen and (max-width: 662px) {
    .container {
        background-color: #161616;
        width: 300px;
        height: 553px;
        padding: 30px;
        margin-top: 21px;
        border-radius: 10px;
    }

    .header-info,
    .top-section {
        display: block;
    }

    .header-title {
        font-weight: 400;
        font-size: 24px;
        width: 200px;
        height: 66px;
        color: white;
        text-align: center;
        margin-left: -50px;
    }

    .header-pera {
        width: 258px;
        height: 48px;
        font-weight: 400;
        font-size: 14px;
        color: white;
        padding-top: 30px;
        margin-top: 10px;
        margin-left: -70px;
        text-align: center;
    }

    .watch-button {
        width: 161px;
        height: 40px;
        background-color: #DD0000;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        padding-top: 20px;
        margin-top: 70px;
        margin-left: -40px;
        text-align: center;
    }

    .header-pic img {
        width: 233px;
        height: 245px;
        margin-top: -90px;
        padding-left: 90px;
        margin-left: -40px;

    }

    .container2 {
        margin-top: 40px;
    }

    .site-button {
        margin-left: 50px;
        background-color: white;
        width: 210px;
        height: 176px;

    }

    .button1 {
        border: 1px solid black;
    }

    .view-button {
        display: none;
    }

    .contacts {
        display: block;
        margin: 0 20px;
    }

}

/* for tab */
@media only screen and (min-width:663px) and (max-width:992px) {
    .container {
        width: 734px;
        height: 350px;
        background-color: #161616;
        border-radius: 30px;
    }

    .top-section {
        display: flex;

    }

    .header-info {
        width: 316px;
        height: 276px;

    }

    .header-title {
        width: 289px;
        height: 150px;
        font-weight: 700;
        font-size: 40px;
        color: white;
        margin-top: -10px;
    }

    .header-pera {
        width: 316px;
        height: 48px;
        font-weight: 400;
        font-size: 14px;
        color: white;
        margin-top: 5px;
    }

    .header-button {
        width: 161px;
        height: 48px;
        background-color: #DD0000;
        border-radius: 5px;
        margin-top: 50px;

    }

    .watch-button {
        padding-top: 10px;
    }

    .header-pic img {
        width: 323px;
        height: 380px;
    }

    .container2 {
        margin-top: 40px;
    }

    .site-button {
        margin-left: 50px;
        background-color: white;
        width: 210px;
        height: 176px;

    }

    .button1 {
        border: 1px solid black;
    }

    .site-button {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-column-gap: 30px;
    }

    .site-matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 25px;
        padding-left: 30px;
    }

    .view-button {
        text-decoration: none;
        color: white;
        background-color: #DD0000;
        padding: 10px 40px;
        border-radius: 7px;
        width: 131px;
        height: 30px;
        display: block;
        margin: 0 20px;
        margin-left: 350px;
        text-align: center;
        margin-top: 0px;
    }
}

/* for pc */
@media only screen and (min-width: 993px) {
    .top-section {
        display: flex;
    }

    .header-pic img {
        width: 581px;
        height: 613px;
        margin-top: 63px;
    }

    .site-button {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        grid-column-gap: 30px;
        align-items: center;
        width: 312px;
        height: 312px;
        background-color: #161616;
    }

    .site-matches {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px;
        padding-left: 30px;
        width: 984px;
        height: 750px;
    }

    .container2 {
        width: 1320px;
        height: 750px;
        display: flex;
        padding: 100px 0;
    }



    .view-button {
        display: none;
    }
}